<div class="row">
  <div class="small-12 large-2 large-offset-5 column">
    <h2>Books</h2>
  </div>
</div>


  <% @books.each do |book| %>
    <div class="row">
      <div class="small-12 large-1 column">
        <%= image_tag book.picture.url(:default) %>
      </div>
      <div class="small-11 large-10 column">
        <h4><%= book.title %></h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 large-12 column">
        <h5><%= book.description %></h5>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-6 large-2 column">
        <span>
          ISBN:<%= book.isbn %>
        </span>
      </div>
      <div class="small-6 large-2 column">
        <span>
          <%= link_to "View details", "/books/#{book.id}"%>
        </span>
      </div>
    </div>
    <br>
  <% end %>

<div class="row">
  <div class="small-6 large-2 column">
    <%= link_to 'Previous page', books_path(page: @page.to_i - 1) %>
  </div>
  <div class="small-6 large-2 column">
    <%= link_to 'Next page', books_path(page: @page.to_i + 1) %>
  </div>
</div>



