<h2>All books</h2>

<div>
  <% @books.each do |book| %>
      <%= image_tag book.picture.url(:default) %>
      <h2><%= book.title %></h2>
      <%= link_to "View details", "/books/#{book.id}"%>
      <h4><%= book.description %></h4>
      <p><%= book.isbn %></p>
  <% end %>
</div>