<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Library" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="row">
    <div class="input-group">
      <input type="text" class="input-group-field" placeholder="Enter book's name">
      <div class="input-group-button">
        <button class="button" type="submit">Search</button>
      </div>
    </div>
  </div>

    <%= yield %>

  </body>
</html>
